@import './header.css';

.about {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 50px 0;
	max-width: 1084px;
	margin: 0 auto;
}
.about-info {
	padding-right: 100px;
}
.about__text {
	color: #383838;
	font-size: 15px;
	line-height: 22px;
	font-style: normal;
	font-weight: 500;
	/*word-break: break-all;*/
}
.about-logo {

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	margin: 32px 0;
}
.about-logo__img {
	height: 80px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}
.skb {
	height: 65px;
	margin-right: 70px;
}
.about-logo__img img{
	height: 100%;
}
.razdel__btn {
	text-decoration: none;
	color: #ffffff;
	background-color: #1780c2;
	font-size: 14px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	height: 64px;
	width: 321px;
	/*border-radius: 10px;*/
	margin-bottom: 32px;
	margin-right: 30px;
}
.razdel__btn-text {
	padding: 0 35px;
}
.razdel__btn-icon {
	padding: 0 14px;
	font-size: 40px;
}
.about-img-block {
	
}
.about__img {
	width: 220px;
	height: 220px;
	overflow: hidden;
}
.about__img img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}

.production__title {
	color: #ffffff;
	background: #313234;
	font-size: 1.5rem;
	padding: 1rem 0;
	text-align: center;
	letter-spacing: 1.5px;
}

.production-wrap {

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
}

.production {
	text-align: center;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
	border: 1px solid #313234;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 25vw;
}
.production:hover {
	-webkit-filter: grayscale(0);
			filter: grayscale(0);
}
.production__name {
	
	background: rgba(0, 0, 0, .65);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.production:hover .production__name {
	display: none;
}

@media screen and (max-width: 1060px) {
	.about {
		padding-right: 40px;
	}
	.about-info {
		padding: 20px 70px 40px 40px;
	}
}

@media screen and (max-width: 950px) {
	.production {
		height: 33.333vw;
	}
	.skb {
		margin-right: 30px;
	}
}
@media screen and (max-width: 900px) {
	.about {
		padding: 0;
	}
	.about-img-block {
		display: none;
	}
	.about-info {
		padding: 40px 40px 20px 40px;
	}
	.skb {
		margin-right: 50px;
	}
}
@media screen and (max-width: 700px) {
	.production {
		height: 50vw;
	}
}
@media screen and (max-width: 650px) {
	.skb {
		margin-right: 20px;
	}
}
@media screen and (max-width: 620px) {
	.skb {
		margin-right: 0;
	}
	.about-logo {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		margin-bottom: 0;
	}
	.about-logo__img {
		margin: 0 auto;
		margin-bottom: 32px;
		
	}
}
@media screen and (max-width: 600px) {
	.production {
		height: 100vw;
	}
}
@media screen and (max-width: 520px) {
	.razdel__btn {
		max-width: 350px;
	}
	.about-info {
		padding: 30px 20px;
	}
}

@media screen and (max-width: 380px) {
	.razdel__btn-text {
		padding: 0 20px;
	}
	.razdel__btn-icon {
		padding: 0 15px 0 0;
		font-size: 40px;
	}
	.razdel__btn {
		max-width: 305px;
	}
}
@media screen and (max-width: 350px) {
	.about-info {
		padding: 10px  10px 30px 10px;
	}
	.razdel__btn-text {
		padding: 0 5px 0 15px;
	}
	.razdel__btn {
		max-width: 270px;
	}
	.about-logo__img {
		height: 120px;
	}
	.skb {
		height: 50px;
		max-width: 270px;
	}
}