@import './header.css';
.about {
	padding: 55px 10px;
	max-width: 900px;
	margin: 0 auto;
}
.about__text {
	color: #383838;
	font-size: 15px;
	line-height: 22px;
	font-style: normal;
	font-weight: 500;
}