@import './header.css';
/*####################################*/
/*----префиксы-----*/

.catalog h3 {
	color: #ffffff;
	background: #313234;
	font-size: 1.5rem;
	padding: 1.5rem 0;
	cursor: pointer;
	text-align: center;
	letter-spacing: 1.5px;
}
.catalog-wrap {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 25% 25% 25% 25%;
	grid-template-columns: 25% 25% 25% 25%;
	-ms-grid-rows: 25vw 25vw;
	grid-template-rows: 25vw 25vw;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
}
.catalog-wrap > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}
.catalog-wrap > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
}
.catalog-wrap > *:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}
.catalog-wrap > *:nth-child(4) {
	-ms-grid-row: 1;
	-ms-grid-column: 4;
}
.catalog-wrap > *:nth-child(5) {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
}
.catalog-wrap > *:nth-child(6) {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
}
.catalog-wrap > *:nth-child(7) {
	-ms-grid-row: 2;
	-ms-grid-column: 3;
}
.catalog-wrap > *:nth-child(8) {
	-ms-grid-row: 2;
	-ms-grid-column: 4;
}
.catalog-card {
	display: block;
	text-align: center;
	text-decoration: none;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
	border: 1px solid #313234;
	position: relative;
	overflow: hidden;
}
.catalog-card:hover {
	-webkit-filter: grayscale(0);
			filter: grayscale(0);
}
.catalog-card:hover .catalog-card__name {
	display: none;
}
.catalog-card__name {
	color: #ffffff;
	font-size: 1.7rem;
	background: rgba(0, 0, 0, .65);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	padding-top: 45%;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

@media screen and (max-width: 930px) {
	.catalog h3 {
		font-size: 1.2rem;
	}
	.catalog-wrap {
		-ms-grid-columns: 50% 50%;
		grid-template-columns: 50% 50%;
		-ms-grid-rows: 50vw 50vw 50vw 50vw;
		grid-template-rows: 50vw 50vw 50vw 50vw;
	}
	.catalog-wrap > *:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.catalog-wrap > *:nth-child(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 2;
	}
	.catalog-wrap > *:nth-child(3) {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
	}
	.catalog-wrap > *:nth-child(4) {
		-ms-grid-row: 2;
		-ms-grid-column: 2;
	}
	.catalog-wrap > *:nth-child(5) {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}
	.catalog-wrap > *:nth-child(6) {
		-ms-grid-row: 3;
		-ms-grid-column: 2;
	}
	.catalog-wrap > *:nth-child(7) {
		-ms-grid-row: 4;
		-ms-grid-column: 1;
	}
	.catalog-wrap > *:nth-child(8) {
		-ms-grid-row: 4;
		-ms-grid-column: 2;
	}
}
@media screen and (max-width: 600px) {
	.catalog-wrap {
		-ms-grid-columns: 100% ;
		grid-template-columns: 100% ;
		-ms-grid-rows: 100vw 100vw 100vw 100vw 100vw 100vw 100vw 100vw;
		grid-template-rows: 100vw 100vw 100vw 100vw 100vw 100vw 100vw 100vw;
	}
	.catalog-wrap > *:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.catalog-wrap > *:nth-child(2) {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
	}
	.catalog-wrap > *:nth-child(3) {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}
	.catalog-wrap > *:nth-child(4) {
		-ms-grid-row: 4;
		-ms-grid-column: 1;
	}
	.catalog-wrap > *:nth-child(5) {
		-ms-grid-row: 5;
		-ms-grid-column: 1;
	}
	.catalog-wrap > *:nth-child(6) {
		-ms-grid-row: 6;
		-ms-grid-column: 1;
	}
	.catalog-wrap > *:nth-child(7) {
		-ms-grid-row: 7;
		-ms-grid-column: 1;
	}
	.catalog-wrap > *:nth-child(8) {
		-ms-grid-row: 8;
		-ms-grid-column: 1;
	}
}