@font-face {
	font-family: ElektraText;
	src: url(../public/fonts/ElektraText.otf) format('opentype');

	font-family: ElektraTextBold;
	src: url(../public/fonts/ElektraTextBold.otf) format('opentype');

	font-family: ElektraTextLight;
	src: url(../public/fonts/ElektraTextLight.otf) format('opentype');

}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-size: 62.5%;
	font-family: sans-serif;
	background-color: #f4f4f4;
}
/*----------navigation menu-------*/
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav ul:after {
	content: "";
	display: table;
	clear: both;
}
nav a {
	text-decoration: none;
	display: block;
	transition: .3s linear;
}
.toplist {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 7px 0;
}
.toplist i {
	font-size: 16px;
}
.toplist a {
	padding: 0 7px;
	font-size: 13px;
	color: #FEFDFD;
}
.br {
	border-right: 2px solid #ffffff;
}
.topmenu {
	z-index: 9;
	transition: 4s linear;
}
.topmenu > li {
	float: left;
	position: relative;
	z-index: 9;
}
.topmenu > li > a {  
	padding: 30px 20px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	color: #FEFDFD;
	letter-spacing: 2px;
	z-index: 9;
}
.submenu a:hover {color: gray;}
.submenu {
	position: absolute;
	z-index: 5;
	min-width: 200px;
	background: rgba(0, 0, 0, .8);
	visibility: hidden;
	opacity: 0; 
	transform-origin: 0% 0%;
	transform: rotateX(-90deg);
	transition: .3s linear;  
}
.submenu li {position: relative;}
.submenu li a {
	color: #ffffff;
	padding: 10px 20px;
	font-size: 13px;
}
.submenu .submenu {
	position: absolute;
	left: 100%;
	top: -1px;
	transition: .3s linear;
}
nav li:hover > .submenu {
	transform: rotateX(0deg);
	visibility: visible;
	opacity: 1;
}
.burger-menu {
	width: 24px;
	height: 24px;
	background-image: url('../img/burger.png');
	background-size: cover;
	display: none;
	position: absolute;
	top: 26px;
	left: 20px;
	cursor: pointer;
}
/*---------------------------------*/
.mid-header {
	background: rgba(0, 0, 0, .8);
}
.top-header {
	border-bottom: 1px solid #ffffff;
	background: rgba(0, 0, 0, .8);  
}
.container {
	margin: 0 auto;
	max-width: 1300px;
}
.bottom-container {
	display: flex;
	justify-content: space-between;
	position: relative;
	/*margin-bottom: 37rem;*/
}
.logo {
	padding: 7px;
}
.logo img {
	height: 3.5rem;   
}
.search {
	background: #000000;
	padding: 10px;
	display: none;
	transition: .3s linear;
}
.input-submit, .input-search {
	color: #ffffff;
	border-style: none;
	background: #000000;
	outline: none;
}
.input-search {
	padding: 0 10px;
	width: 95%;
	width: calc(100% - 30px);
}
.input-search::::-ms-clear {
	display: none;
}




footer{
	background: #313234;
	padding: 1.5rem 0;
	color: #ffffff;
	text-align: center;
}
.footer-nav ul {
	margin-top: 0.2rem;
	list-style: none;
	display: flex;
	justify-content: center;
	background: #313234;
	padding: 0;
}
.footer-nav .nav-button {
	font-size: 1rem;
	margin: 10px 20px;
	letter-spacing: 1px;
	color: #ffffff;
}
.contacts {
	font-size: 1rem;
	margin: 0 auto;
	letter-spacing: 1px;
}
.contacts p {
	line-height: 1.5rem;
	margin-top: 1rem;
}
.contacts > .logo {
	min-height: 4.6rem;
}
.contacts > .logo > img {
	height: 4.6rem;
}
.footer__bottom {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.footer__data {
	font-size: 1rem;
	align-self: flex-end;
}
.social{
	display: flex;
	justify-content: center;
	margin: 0.5rem 0;
	margin-right: 5rem;
}
.social-icon{
	width: 40px;
	height: 40px;
	fill: #313234;
	background: #ffffff;
	margin: 0 5px;
	border-radius: 10px;
}
.linkedin {
	text-decoration: none;
	color: #313234;
	line-height: 40px;
	font-size: 32px;
	font-weight: bold;
}
.author {
	display: block;
	text-decoration: none;
	color: #feca39;
	font-size: 1rem;
	align-self: flex-end;
}


/*----------media-queries--------------*/

@media screen and (max-width: 1200px) {
	.topmenu > li > a {  
		padding: 20px 10px;
		font-size: 15px;
	}
	.logo img {
		height: 2.5rem;   
	}
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 930px) {
	.bottom-container {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.top-header {
		border: 0;
	}
	.mid-header {
		background: #000000;
	}
	.toplist {
		display: none;
	}
	.topmenu {
		display: none;
		transition: 3s;
	}
	.topmenu li {
		float: none;
	}
	.topmenu li a {
		border-bottom: 1px solid #ffffff;
		margin: 0 30px;
	}
	nav li:hover > .submenu {
		visibility: hidden;
		opacity: 0;
	}
	.logo {
		margin: 0 auto;
	}
	.logo img {
		height: 4.5rem;
		
	}
	.burger-menu {
		display: block;
	}

}
@media screen and (max-width: 790px) {
	.footer-nav ul {
		display: none;
	}
	.footer__bottom {
		flex-direction: column; 
	}
	.footer__data, .author {
	align-self: center;
	}
}
@media screen and (max-width: 580px) {
	.other {
		width: 100%;
	}
	.other::before {
		display: none;
	}
	.other__a {
		right: calc(50% - 6.5rem);
	}
	.mySlides {
		background-size: inherit;
}
@media screen and (max-width: 480px) {
	.logo img {
		height: 3.5rem;
	}
	.contacts > .logo {
		min-height: 3.6rem;
	}
	.contacts > .logo > img {
		height: 3.6rem;
	}
}
@media screen and (max-width: 425px) {
	.burger-menu {
		top: 19px;
	}
	.logo img {
		height: 3rem;
	}
	.about__title {
		padding: 6px 47px;
	}
	.contacts p {
		font-size: 15px;
	}
	.other__a {
		padding: 15px 10px;
	}
}
@media screen and (max-width: 370px) {
	.logo img {
		height: 2.5rem;
	}
	.contacts p {
		font-size: 13px;
	}
}