@import './header.css';

/*---префиксы------*/

.contacts-container {
	background: rgba(0, 0, 0, .8);
	min-height: 500px;
	max-width: 1000px;
	margin: 50px auto;
	padding: 50px 70px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
}
.contact__title {
	color: #ffffff;
	font-size: 34px;
	line-height: 38px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -1.3px;
	text-transform: none;
	margin-bottom: 30px;
}
.contact-info>p {
	font-size: 16px;
	color: #ffffff;
	line-height: 26px;
}
.contact-info>a {
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
	display: block;
}
.contact-info>a:hover {
	color: #0b79bf;
}

@media screen and (max-width: 900px) {
	.contacts-container {
		/*margin: 50px auto;*/
		padding: 40px 40px;
	}
}

@media screen and (max-width: 840px) {
	.map {
		width: 300px;
		height: 300px;
		overflow: hidden;
	}
}

@media screen and (max-width: 730px) {
	.map {
		width: 400px;
		height: 400px;
	}
	.contacts-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
		padding: 40px;
	}
	.contact-info {
		padding-bottom: 40px;
	}
}

@media screen and (max-width: 500px) {
	.contacts-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
		padding: 40px 20px;
	}
	.map {
		width: 300px;
		height: 300px;
	}
}
@media screen and (max-width: 390px) {
	.contact__title {
		font-size: 26px;
		line-height: 30px;
	}
}