
/*----префиксы--------*/

header {
	min-height: 44rem;
	position: relative;
	overflow: hidden;
}
.topline {
	position: absolute;
	width: 100%;
	z-index: 99;
}
/*--slider popular--*/
.slideshow-container {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 0;
}

.mySlides {
	display: none;
	background-size: cover;
	background-position: center;
	height: 44rem;
	background-attachment: fixed;
	position: relative;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 5s;
	animation-name: fade;
	animation-duration: 5s;
}
@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
.other {
	height: 26rem;
	width: 45rem;
	background: rgba(0, 0, 0, .5);
	position: absolute;
	top: 12rem;
	padding: 40px;
	padding-left: 150px;
}
.other::before {
	position: absolute;
	content: "";
	top:0;
	right: -13rem;
	width: 0;
	height: 0;
	border-top: 13rem solid transparent;
	border-left: 13rem solid rgba(0, 0, 0, .5);;
	border-bottom: 13rem solid transparent;
	z-index: 0;
}
.other__title {
	text-transform: uppercase;
	color:#ffffff;
	font-size: 45px;
	line-height: 55px;
	/*font-family: 'Poppins';*/
	font-style: normal;
	font-weight: 700;
	text-shadow: none;
	letter-spacing: -1px;
	margin-bottom: 30px;
}
.other__description {
	text-shadow: none;
	color: #ffffff;
	font-size: 18px;
	line-height: 25px;
	/*font-family: Poppins;*/
	font-style: normal;
	font-weight: 300;
	padding-top: 0px;
	padding-bottom: 25px;
}
.other__a {
	display: block;
	background: #1780c2;
	padding: 15px 20px;
	width: 13rem;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	/*border-radius: 10px;*/
	position: absolute;
	bottom: 40px;
	right: 22.5rem;
	cursor: pointer;
}
/*##########################*/

.about-line {
	position: relative;
}
.owl-carousel {
	background: #ffffff;
}
.owl-next, .owl-prev {
	background: #1780c2;
	height: 67px;
	width: 47px;
	font-size: 50px;
	border-style: none;
	color: #ffffff;
	position: absolute;
	top: -67px;
	margin: 0 !important;
	cursor: pointer;
}
.owl-next span, .owl-prev span{
	color: #ffffff;
	font-size: 40px;
	font-weight: 300;
	line-height: 61px;
	background: #1780c2;
	height: 67px;
	width: 47px;
	display: block;
	border-right: 1px solid grey;
	border-left: 1px solid grey;
}
.owl-prev {
	left: 0;
	border-right: 1px solid grey;
}
.owl-next {
	right: 0;
	border-left: 1px solid grey;
}
.about__title {
	height: 67px;
	font-size: 23px;
	color: #ffffff;
	background: #1780c2;
	text-align: center;
	font-weight: 400;
	line-height: 67px;
}
.info {
	margin: 20px;
	display: block;
	text-decoration: none;
}
.info__img {
	padding: 0 0 75% 0;
	overflow: hidden;
	display: block;
	position: relative;
}
.info__img img{
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}
.info__text {
	font-size: 15px;
	color: #383838;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	display: -moz-box;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	line-clamp: 6;
	box-orient: vertical;
	margin: 10px 0 15px 0;
}
.info__title {
	color: #303030;
	font-size: 16px;
	line-height: 21px;
	margin: 10px 0;
}
.info__data {
	font-size: 15px;
	color: #0b79bf;
}

/*---MEDIA-QUERIES--------------*/

@media screen and (max-width: 1024px) {
	.other {
		height: 22rem;
		width: 30rem;
		padding: 40px;
		padding-left: 70px;
	}
	.other::before {
		right: -11rem;
		border-top: 11rem solid transparent;
		border-left: 11rem solid rgba(0, 0, 0, .5);;
		border-bottom: 11rem solid transparent;
	}
	.other__title {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 20px;
	}
	.other__description {
		font-size: 18px;
		line-height: 25px;
		/*font-family: Poppins;*/
		font-style: normal;
		font-weight: 300;
		padding-top: 0px;
		padding-bottom: 25px;
	}
	.other__a {
		right: 12.6rem;
	}
}

@media screen and (max-width: 580px) {
	.other {
		width: 100%;
		padding-left: 40px;
	}
	.other::before {
		display: none;
	}
	.other__a {
		right: calc(100% - 248px);
	}
}

@media screen and (max-width: 425px) {
	.other {
		width: 100%;
		padding: 30px;
	}
	.other__a {
		padding: 15px 10px;
	}
	.other__title {
		font-size: 25px;
		line-height: 35px;
	}
}

@media screen and (max-width: 370px) {
	.other__title {
		font-size: 20px;
		line-height: 30px;
	}
}