@import './header.css';


.content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 60rem;
	margin: 3rem auto;
	padding: 40px 0;
}
.content-img {
	width: 30rem;


}
.content-img img {
	width: 100%;
}
.content-description {
	width: 30rem;
	padding: 2rem;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	
}
.content-description p {
	/*font-size: 1.2rem;*/
	color: #383838;
	font-size: 15px;
	line-height: 22px;
	font-style: normal;
	font-weight: 500;
}
.content-title {
	margin-top: 0;
	color: #303030;
	font-size: 34px;
	line-height: 38px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -1.3px;
	margin-bottom: 32px;
}
.tabs-wrapp {
	padding: 50px 0;
	max-width: 1000px;
	margin: 0 auto;
}
.tabs {
	margin: 0 0 50px 0;
}
.tabs__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.tabs__link {
	-webkit-box-flex: 0;
		-ms-flex: 0 1 33.333%;
			flex: 0 1 33.333%;
	min-height: 80px;
	max-height: 80px;
	/*background: darkslategray;*/
	background-color: #1780c2;
	font-size: 1rem;
	color: #ffffff;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	border-radius: 10px 10px 0 0;
	border-style: none;
	outline: none;
	cursor: pointer;
}
.active {
	background: #ffffff;
	color: #000000;
}
.tabs__block {
	background: #ffffff;
	position: relative;
	border-radius: 0 0 10px 10px;
	display: none;
	padding: 3rem 3rem;
	min-height: 20rem;
	color: #383838;
	font-size: 15px;
	line-height: 22px;
	font-style: normal;
	font-weight: 500;
}
.tabs__block h6 {
	color: #383838;
	font-size: 15px;
	line-height: 22px;
	font-style: normal;
	font-weight: 700;
}
.tabs__block table {
	border-collapse: collapse;
}
.tabs__block th, td {
	border: 1px solid #000000;
	margin: 0;
	padding: 0.5rem 1rem;
	text-align: center;
}
.left {
	text-align: left;
}
.downloads-wrap {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.download {
	margin: 0 50px;
	width: 200px;
	text-align: center;
}
.download__name {
	color: #383838;
	font-size: 15px;
	line-height: 22px;
	font-style: normal;
	font-weight: 700;
	/*margin-bottom: 15px;*/
	margin-bottom: 5px;
}
.catalog__name {
	color: #383838;
	font-size: 15px;
	line-height: 18px;
	font-style: normal;
	font-weight: 700;
	display: none;
}
.download__link {
	font-size: 15px;
	line-height: 22px;
	font-style: normal;
	font-weight: 700;
	color: #0B79BF;
	text-decoration: none;
	display: block;
	margin-top: 5px;
}
.download__link:hover~.catalog__name {
	display: block;
}

.dop-ob__title {
	text-align: center;
	color: #303030;
	font-size: 23px;
	line-height: 35px;
	font-style: normal;
	font-weight: 300;
	letter-spacing: -1.3px;
}
.dop-ob-wrap {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 23% 20px 23% 20px 23% 20px 23%;
	grid-template-columns: 23% 23% 23% 23%;
	margin: 10px 0 100px 0;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	grid-column-gap: 20px;
	padding: 0 20px;
}
.dop-ob {
	display: block;
	text-decoration: none;
	max-width: 300px;
	
}
.dop-ob__img {
	width: 100%;
	
	padding: 0 0 100% 0;
	overflow: hidden;
	position: relative;
	border: 1px solid #ddd;
	background: #ffffff;
}
.dop-ob__img img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	   object-fit: contain;
	position: absolute;
	top: 0;
	left: 0;
}
.dop-ob__name {
	padding-top: 10px;
	color: #383838;
	font-size: 15px;
	line-height: 22px;
	font-style: normal;
	font-weight: 700;
	text-align: center;
}

@media screen and (max-width: 750px) {
	.content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		margin: 0;
	}
	.content-img {
		width: 100%;
		padding: 0 20px;
	}
	.content-description {
		width: 100%;
		padding: 0 40px;
	}
	.tabs__block {
		padding: 30px 10px;
		overflow: hidden;
	}
	.dop-ob-wrap {
		-ms-grid-columns: 50% 20px 50%;
		grid-template-columns: 50% 50%;
		grid-row-gap: 20px;
		grid-column-gap: 20px;
	}
}
.tabs__block td>br {
	display: none;
}

@media screen and (max-width: 600px) {
	.tabs__items {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
	}
	.tabs__link {
		border-bottom: 1px solid #ffffff;
		border-radius: 0;
	}
	.content-title {
		font-size: 29px;
		line-height: 34px;
	}
	.tabs__block th, td {
		padding: 5px;
	}
}

@media screen and (max-width: 450px) {
	.tabs__block td>br {
		display: block;
	}
	.content-title {
		font-size: 20px;
	}
	.downloads-wrap {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.download {
		padding: 20px;
	}
}

@media screen and (max-width: 400px) {
	.content-description {
		padding: 0 20px;
	}
	.dop-ob-wrap {
		-ms-grid-columns: 100%;
		grid-template-columns: 100%;
		grid-row-gap: 20px;
		padding: 15px;
	}
	.tabs__link {
		min-height: 60px;
		max-height: 60px;
	}
	.tabs__block td {
		font-size: 14px;
	}
	.tabs__block th {
		font-size: 14px;
	}
}

@media screen and (max-width: 350px) {
	.tabs__block td {
		font-size: 12px;
	}
	.tabs__block th {
		font-size: 12px;
	}
}