@import './header.css';
.content {
	display: flex;
	max-width: 60rem;
	margin: 3rem auto;
	padding: 40px 0;
}
.content-img {
	width: 30rem;


}
.content-img img {
	width: 100%;
/*	height: 100%;
	object-fit: contain;
	object-position: center;*/
}
.content-description {
	width: 30rem;
	padding: 2rem;
	box-sizing: border-box;
	
}
.content-description p {
	/*font-size: 1.2rem;*/
	color: #383838;
	font-size: 15px;
	line-height: 22px;
	font-style: normal;
	font-weight: 500;
}
.content-title {
	margin-top: 0;
	color: #303030;
	font-size: 34px;
	line-height: 38px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -1.3px;
	margin-bottom: 32px;
}
.tabs-wrapp {
	padding: 50px 0;
	max-width: 1000px;
	margin: 0 auto;
}
.tabs {
	margin: 0 0 50px 0;
}
.tabs__items {
	display: flex;
}
.tabs__link {
	flex: 0 1 33.333%;
	min-height: 80px;
	/*background: darkslategray;*/
	background-color: #1780c2;
	font-size: 1rem;
	color: #ffffff;
	transition: 0.3s;
	border-radius: 10px 10px 0 0;
	border-style: none;
	outline: none;
	cursor: pointer;
}
.active {
	/*background: #ddd;*/
	background: #ffffff;
	color: #000000;
}
.tabs__block {
	background: #ffffff;
	position: relative;
	border-radius: 0 0 10px 10px;
	display: none;
	padding: 3rem 3rem;
	min-height: 20rem;
	color: #383838;
	font-size: 15px;
	line-height: 22px;
	font-style: normal;
	font-weight: 500;
}
.tabs__block h6 {
	olor: #383838;
	font-size: 15px;
	line-height: 22px;
	font-style: normal;
	font-weight: 700;
}
.tabs__block table {
	border-collapse: collapse;
}
.tabs__block th, td {
	border: 1px solid #000000;
	margin: 0;
	padding: 0.5rem 1rem;
	text-align: center;
}
.left {
	text-align: left;
}

@media screen and (max-width: 750px) {
	.content {
		flex-direction: column;
		margin: 0;
	}
	.content-img {
		width: 100%;
		padding: 0 20px;
	}
	.content-description {
		width: 100%;
		padding: 0 40px;
	}
	.tabs__block {
		padding: 30px 10px;
	}
}

@media screen and (max-width: 600px) {
	.tabs__items {
		flex-direction: column;
	}
	.content-title {
		font-size: 29px;
		line-height: 34px;
	}
	.tabs__block th, td {
		padding: 5px;
	}
}

@media screen and (max-width: 400px) {
	.content-description {
		padding: 0 20px;
	}
}