@import './header.css';

.razdel-top {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 65px 0;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
}
.razdel-info {
	width: 45%;
	padding-right: 30px;
}
.razdel__img {
	width: 40%;
}
.razdel__img img {
	width: 100%;
}
.razdel__title {
	color: #303030;
	font-size: 34px;
	line-height: 38px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -1.3px;
}
.razdel__text {
	color: #383838;
	font-size: 15px;
	line-height: 22px;
	font-style: normal;
	font-weight: 500;
	padding: 32px 0;
}
.razdel__btn {
	text-decoration: none;
	color: #ffffff;
	background-color: #1780c2;
	font-size: 14px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	height: 64px;
	border-radius: 10px;
}
.razdel__btn-text {
	padding: 0 35px;
}
.razdel__btn-icon {
	padding: 0 14px;
	font-size: 40px;
}
.product {
	border: 2px solid #ddd;
	background-color: #ffffff;
	margin: 1rem 3rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
		justify-content: space-around;
	border-radius: 20px;
}
.product__img {
	max-width: 30rem;
	max-height: 30rem;
	padding: 1rem;
	margin: 1rem;
	border-width: 0 3px 0 0;
	border-style: solid; 
	-o-border-image:
	-o-linear-gradient(bottom, transparent 10%, #ddd 11%, #ddd 90%, transparent 91%) 1 100%;
	border-image:
	-webkit-gradient(linear, left top, left bottom, color-stop(10%, transparent), color-stop(11%, #ddd), color-stop(90%, #ddd), color-stop(91%, transparent)) 1 100%;
	border-image:
	linear-gradient(to bottom, transparent 10%, #ddd 11%, #ddd 90%, transparent 91%) 1 100%;
	
}
.product__img img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}
.product-info {
	width: 40rem;
	padding-top: 8rem;
}
.product__name {
	text-align: center;
	font-weight: 600;
	margin-bottom: 5rem;
	color: #303030;
	font-size: 23px;
	line-height: 35px;
	font-style: normal;
	font-weight: 300;
	letter-spacing: -1.3px;
}
.line-2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
		justify-content: space-around;
}
.line__btn {
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 4rem;
	color: #ffffff;
	/*background: darkslategray;*/
	/*background-color: #1780c2;*/
	background: #1780c2;
	height: 4rem;
	width: 12rem;
	/*font-size: 1.2rem;*/
	font-size: 14px;
	border-radius: 10px;
	text-transform: uppercase;
}

/*#######MEDIA QUERIES###########*/
@media screen and (max-width: 1060px) {
	.product {
		margin: 1rem 1rem;
	}
	.product-info {
		width: 30rem;
		padding-top: 7rem;
	}
	.line__btn {
		width: 10rem;
	}
}

@media screen and (max-width: 800px) {
	.razdel-top {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		width: 600px;
		margin: 0 auto;
	}
	.razdel-info {
		width: 100%;
		/*padding: 30px 40px;*/
		padding-bottom: 40px;
	}
	.razdel__img {
		width: 100%;
	}
	.product {
		/*width: 70rem;*/
		/*margin: 1rem 3rem;*/
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
	}
	.product__img {
		/*width: 100%;*/
		/*height: 30rem;*/
		margin: 1rem auto;
		border: 0;
		-o-object-fit: cover;
		   object-fit: cover;
	}
	.product-info {
		width: 100%;
		padding: 1rem 2rem;
	}
	.product__name {
		margin-bottom: 1rem;
	}
}

@media screen and (max-width: 640px) {
	.razdel-top {
		width: 450px;
	}
}

@media screen and (max-width: 500px) {
	.razdel-top {
		width: 350px;
	}
	.line-2 {
		-webkit-box-pack: justify;
			-ms-flex-pack: justify;
				justify-content: space-between;
	}
	.product__img {
		padding: 0;
	}
	.product-info {
		padding: 15px;
	}
}

@media screen and (max-width: 450px) {
	.product__name {
		font-size: 20px;
		line-height: 30px;
	}
	.line-2 {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
	}
	.line__btn {
		margin-bottom: 10px;
		height: 3rem;
		line-height: 3rem;
	}
}

@media screen and (max-width: 400px) {
	.razdel-top {
		width: 320px;
	}
	.product__name {
		line-height: 25px;
	}
}

@media screen and (max-width: 355px) {
	.razdel-top {
		width: 300px;
	}

}