@import url('./header.css');

.search-catalog {
	padding: 50px;
	min-height: 400px;
}
.search-wrap {
	list-style: none;
}
.search-wrap>li {
	background: #ffffff;
	padding: 30px;
	margin-bottom: 20px;
}
.search-wrap>li>a {
	text-decoration: none;
	font-size: 20px;
	color: #383838;
}
.search-wrap>li>a:hover {
	color: #0b79bf;
}
.search-form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 50px 60px;
}
.seaaa {
	display: block;
	border-style: none;
	border: 2px solid #0b79bf;
	width: 600px;
	height: 40px;
	outline: none;
	border-right: none;
	padding: 5px 15px;
	font-size: 20px;
}
.seaaa-submit {
	height: 40px;
	width: 40px;
	border-style: none;
	outline: none;
	border: 2px solid #0b79bf;
	background: #ffffff;
	border-left: none;
	cursor: pointer;
}
.seaaa-submit i {
	color: #0b79bf;
	font-size: 29px;
	line-height: 40px;
}



@media screen and (max-width: 460px) {
	.search-catalog {
		padding: 40px 20px;
	}
	.search-wrap>li {
		padding: 15px;
		margin-bottom: 20px;
	}
	.search-wrap>li>a {
		font-size: 16px;
	}
	.search-form {
		margin: 40px 20px 0 20px;
	}
}
@media screen and (max-width: 370px) {
	.search-form {
		margin: 40px 10px 0 10px;
	}
	.seaaa {
		max-width: 240px;
		font-size: 16px;
	}
}
