@import './header.css';

.services {
	padding: 40px;
	padding-top: 85px;
	/*max-width: 900px;*/
	/*margin: 0 auto;*/
	column-width: 330px;
	column-gap: 30px;
	width: 100%;
}
/*.services ul {
	list-style: none;
}
.services ul li {
	color: #383838;
	font-size: 15px;
	line-height: 22px;
	font-style: normal;
	font-weight: 500;
	padding: 5px 0;
}
.services > ul > li > span {
	font-size: 50px;
	font-family: cursive;
	font-weight: 300;
}*/
.service {
	margin: 20px 0;
	background: #ffffff;
	column-break-inside: avoid;
	display: inline-block;
	width: 100%;
	/*border: 2px solid #ddd;*/
}
.service__img {
	padding: 0 0 75% 0;
	overflow: hidden;
	position: relative;
	/*border: 10px solid #ddd;*/
}
.service__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}
.service__text {
	color: #303030;
	font-size: 18px;
	line-height: 22px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0;
	padding: 15px;
}

@media screen and (max-width: 500px) {
	.services {
		padding: 40px 15px;
	}
}