@import './header.css';

.services {
	padding: 65px 0 50px;
	max-width: 900px;
	margin: 0 auto;
}
.services ul {
	list-style: none;
}
.services ul li {
	color: #383838;
	font-size: 15px;
	line-height: 22px;
	font-style: normal;
	font-weight: 500;
	padding: 5px 0;
}
.services > ul > li > span {
	font-size: 50px;
	font-family: cursive;
	font-weight: 300;
}